body {
    font-family: sans-serif;
    background: #f4f4f9;
    padding: 20px;
}

.container {
    display: flex;
    background: #e0e0e0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    
}

.box {
    background: #2980b9;
    color: white;
    padding: 15px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}

/* PROPERTY OPTIONS */
.basis-auto {
    flex-basis: auto;
}

/* Size determined by content width */
.basis-100 {
    flex-basis: 100px;
}

/* Explicit 100px base width */
.basis-200 {
    flex-basis: 200px;
}

/* Explicit 200px base width */